<div class="relative  bg-white rounded-[2rem] z-50 p-3 max-w-[300px] shadow-2xl">

  <div class="relative w-full h-full  bg-fill rounded-[1.5rem]  grid overflow-hidden">

    <!--    app bar-->
    <lbk-app-bar></lbk-app-bar>
    <!--    end app bar-->

    <div class='flex flex-col w-full gap-2 p-2 pb-4'>
      <!--      left message-->
      <p class='chat-left'>That sounds great. I'd be happy
        to
        discuss
        more.</p>

      <p class='chat-left'>Could you send over
        some
        pictures
        of your dog, please</p>
      <!--      end left message-->


      <div class="flex flex-col items-end gap-2 my-2">

        <!-- dog images -->
        <div class="flex justify-end gap-4 ">
          <img class="max-w-[50px] rounded-lg" src="/assets/images/dog-image-1.jpg" alt="Dog1" />
          <img class="max-w-[50px] rounded-xl " src="/assets/images/dog-image-2.jpg" alt="Dog2" />
          <img class="max-w-[50px] rounded-xl" src="/assets/images/dog-image-3.jpg" alt="Dog3" />
        </div>
        <!-- end dog images -->


        <p class='chat-right'>Here are a few pictures.
          She's a happy
          girl</p>

        <p class='chat-right'>Can you makes it?</p>
      </div>

      <!--        my user-->
      <p class='chat-left'>She looks so happy! the time we discussed works. How long shall i take her out for?</p>
      <!--        end my user-->

      <lbk-offer [price]="29" description="1 minute walk"></lbk-offer>
      <lbk-offer [price]="49" description="3 minute walk"></lbk-offer>

      <lbk-enter-message class="block mt-2"></lbk-enter-message>

    </div>
  </div>
</div>
